# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/



# Models

*.pkl
*.joblib
*.h5
!models/GK_safe_3seasons_train_202425_test.pkl
!models/DEF_safe_3seasons_train_202425_test.pkl
!models/MID_safe_3seasons_train_202425_test.pkl
!models/FWD_safe_3seasons_train_202425_test.pkl
!models/GK_safe_3seasons_features.txt
!models/DEF_safe_3seasons_features.txt
!models/MID_safe_3seasons_features.txt
!models/FWD_safe_3seasons_features.txt
# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Logs
*.log

# Secrets
.env
.env.local
